body {
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* prevent scrolling */
}

.centerer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#wrapper {
  display: flex;
  justify-content: center;
  /* padding-top: 5vh; */
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#legend {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.legend-section {
  display: flex;
  flex-wrap: wrap;
  /* forces wrapping */
  justify-content: center;
  gap: 10px;

  width: 90vw;
  /* ensures wrap occurs */
  max-width: 90vw;
}

.legend-item {
  display: inline-flex;
  /* prevents inline-block issues */
  align-items: center;
  gap: 6px;

  white-space: normal;
  /* ensures wrapping is allowed */
}

#cnt {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 90vw;
  gap: 10px;
  box-sizing: border-box;
}

#network {
  flex: 2;
  min-width: 300px;
  border: 1px solid black;
}

#histogram {
  flex: 1;
  min-width: 200px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#network svg,
#histogram svg {
  width: 100%;
  height: 100%;
  display: block;
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  /*display: flex;*/
  flex-wrap: wrap;
  flex-direction: row;
}

.swatches-item {
  float: left;
  width: 16%;
  break-inside: avoid;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  position: relative;
}

.swatches-swatch {
  width: 15px;
  height: 15px;
  margin: 0 0.5em 0 0;
}

/*.swatche-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 15px - 0.5em);
}*/